<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>dev</title>
    <meta name="description" content="dev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="button.css" /> 

    <script src="/libraries/jquery/jquery.min.js"></script>  
    <script src="/libraries/angular/angular.min.js"></script>
    <script src="/libraries/spin/spin.min.js"></script>
    <script src="/pages/button.js"></script>
</head>
<body ng-controller="AppController">
    <button type="button" ng-click="startSpinner()">Start spinner</button>
    <button type="button" ng-click="stopSpinner()">Stop spinner</button>
    <div action-button="{
             spinnerVisible: spinnerVisible,
             text: 'Execute'
         }"></div> 
</body>
</html>