
@font-face {
    font-family: 'DIN-Regular';
    src: url('/fonts/din/DIN-Regular.eot'), /* IE9 Compat Modes */
         url('/fonts/din/DIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/din/DIN-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/din/DIN-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

.button {
    background: #64991E;
    background: -webkit-gradient(linear, left top, left bottom, from(#BCCC69), to(#74AB2A));
    background: -moz-linear-gradient(top, #BCCC69, #74AB2A);
    background: linear-gradient(#BCCC69, #74AB2A);
    border: solid 1px #538312;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 1px 3px 12px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 3px 12px rgba(0,0,0,.2);
    box-shadow: 1px 3px 12px rgba(0,0,0,.2);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
   
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BCCC69', endColorstr='#74AB2A');*/
    font-family: 'DIN-Regular';
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 10px;
    outline: none;
    padding: 8px 36px 8px 36px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    vertical-align: baseline;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
}

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }