
.carousel {
    border: 1px solid rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    height: 100px;
    position: relative;
}

.carousel button {
    background-color: transparent;
}

.carousel button.previous {
    left: 20px;
}

.carousel button.next {
    right: 20px;
}

.carousel button.previous,
.carousel button.next {
    bottom: 0;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
}

.carousel button.previous i,
.carousel button.next i {
    font-family: 'FontAwesome';
    font-size: 36px;
    font-style: normal;
    text-rendering: auto;
}

.carousel .pager {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.carousel .pager button.item {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 10px;
    padding: 4px;
}

.carousel .pager button.item i {
    font-family: 'FontAwesome';
    font-size: 14px;
    font-style: normal;
    text-rendering: auto;
}

.carousel .slide {
    height: 100%;
}