
.carousel {
    border: 1px solid rgb(60, 60, 60);
    height: 100px;
    position: relative;
}

.carousel button {
    background-color: transparent;
}

.carousel button.previous {
    left: 20px;
}

.carousel button.next {
    right: 20px;
}

.carousel button.previous,
.carousel button.next {
    bottom: 0;
    position: absolute;
    top: 0;
}

.carousel .pager {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.carousel .pager button.item {
    border: 1px solid rgb(60, 60, 60);
    margin-right: 10px;
    padding: 4px;
}

.carousel .pager button.item i {
    font-size: 20px;
    font-style: normal;  
}